body {
    margin: 0px;
    padding: 0;
    font-size: 12px;
}

.ui-grid-row {
    padding-bottom: 5px;
}

.ui-grid-allign-right {
    text-align: right !important;
}

.ui-grid-label {
    text-align: right !important;
    padding-right: 5px !important;
}

.ui-chkbox .ui-widget {
    vertical-align: middle !important;
}

.custom-menu-item {
    background-color: grey !important;
}

.dashboard-grid-custom {
    margin-right: 15px;
    margin-bottom: 15px;
}

.dashboard-panel-grid-custom {
    border: hidden !important;
}